node_modules/
logs/
*.log
.env
.env.local
dist/
build/

# Monorepo specific
backend/.env
frontend/.env
backend/node_modules/
frontend/node_modules/

# IDE / Editors
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db